@font-face {
    font-family: "FuturaBookC";
    src: url("../../src/fonts/FuturaBookC.woff") format("woff"), url("../../src/fonts/FuturaBookC.eot") format("eot");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaMediumC";
    src: url("../../src/fonts/FuturaMediumC.woff") format("woff"), url("../../src/fonts/FuturaMediumC.eot") format("eot");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.features {
    margin-top: 90px;
    margin-bottom: 90px;
}

.feature-object {
    h3 {
        margin-top: 32px;
        margin-bottom: 13px;
        font-family: FuturaMediumC, 'roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 125.5%;
        color: #2A2A2A;
    }

    p {
        font-family: FuturaBookC, roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 125.1%;
        letter-spacing: 0.03em;
        color: #6A6A6A;
        padding-bottom: 90px;
    }
}