@font-face {
    font-family: "FuturaBookC";
    src: url("../../src/fonts/FuturaBookC.woff") format("woff"), url("../../src/fonts/FuturaBookC.eot") format("eot");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaMediumC";
    src: url("../../src/fonts/FuturaMediumC.woff") format("woff"), url("../../src/fonts/FuturaMediumC.eot") format("eot");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.questionsHeader {
    text-align: center;
    margin-top: 160px;

    p {
        font-family: 'FuturaMediumC', 'roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 53px;
        line-height: 61px;
        letter-spacing: 0.145em;
        color: #2A2A2A;
    }
}

.questionsBtn {
    text-align: center;
    margin-top: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #2A2A2A;
    margin-bottom: 160px;

    a {
        padding: 15px 53px;
        background: transparent;
        border: 1px solid #2a2a2a;
        transition: all 0.5s;
        text-decoration: none;
        color: #2A2A2A;

        &:hover {
            background: #2a2a2a;
            color: white;
            border: 1px solid #2a2a2a;
        }
    }

}